data -ingestion.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AthletsHttp":{"type":"string"},"AzureDataLakeStorage1":{"type":"string"},"CoachesHttp":{"type":"string"},"EntriesGenderHttp":{"type":"string"},"medalsHttp":{"type":"string"},"teamsHttp":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/data -ingestion')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Athletes","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"Athletes","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"ADLS","type":"DatasetReference","parameters":{}}]},{"name":"Coaches","type":"Copy","dependsOn":[{"activity":"Athletes","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"Coaches","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"coachesSink","type":"DatasetReference","parameters":{}}]},{"name":"EntriesGender","type":"Copy","dependsOn":[{"activity":"Coaches","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"EntriesGender","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"EntriesGenderSink","type":"DatasetReference","parameters":{}}]},{"name":"Medals","type":"Copy","dependsOn":[{"activity":"EntriesGender","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"Medals","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"MedalsSink","type":"DatasetReference","parameters":{}}]},{"name":"Teams","type":"Copy","dependsOn":[{"activity":"Medals","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"Teams","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"teamsSink","type":"DatasetReference","parameters":{}}]}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2024-01-20T19:36:55Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/Athletes')]","[concat(variables('factoryId'), '/datasets/ADLS')]","[concat(variables('factoryId'), '/datasets/Coaches')]","[concat(variables('factoryId'), '/datasets/coachesSink')]","[concat(variables('factoryId'), '/datasets/EntriesGender')]","[concat(variables('factoryId'), '/datasets/EntriesGenderSink')]","[concat(variables('factoryId'), '/datasets/Medals')]","[concat(variables('factoryId'), '/datasets/MedalsSink')]","[concat(variables('factoryId'), '/datasets/Teams')]","[concat(variables('factoryId'), '/datasets/teamsSink')]"]},{"name":"[concat(parameters('factoryName'), '/Athletes')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AthletsHttp')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ADLS')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"athletes.csv","folderPath":"raw-data","fileSystem":"tokyo-olympic-data"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Coaches')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('CoachesHttp')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/coachesSink')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"coaches.csv","folderPath":"raw-data","fileSystem":"tokyo-olympic-data"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/EntriesGender')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('EntriesGenderHttp')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/EntriesGenderSink')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"entriesgender.csv","folderPath":"raw-data","fileSystem":"tokyo-olympic-data"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Medals')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('medalsHttp')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/MedalsSink')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"medals.csv","folderPath":"raw-data","fileSystem":"tokyo-olympic-data"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Teams')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('teamsHttp')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/teamsSink')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"Teams.csv","folderPath":"raw-data","fileSystem":"tokyo-olympic-data"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]}]}